<p>
    Que de plézir lors de ces derniers Jeux de Génie! Notre délégation de neuves était inarrêtable! Voici quelques
    photos de nos GELGIF à l'oeuvre!
</p>

<div ng-controller="CarouselCtrl" ng-init="init('https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/jdg/',
['',
'',
'',
'',
'',
'',
'',
'',
'',
'',
'',
], 30)">
    <div id="Carousel0" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->

      <ol class="carousel-indicators">
        <li ng-repeat="photo in photos" data-target="#Carousel0" data-slide-to="{{ $index }}" ng-class="$index==0 ? 'active' : ''"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
          <div class="item" ng-repeat="photo in photos" ng-class="$index==0 ? 'active' : ''">
                <img ng-src="{{ photo.src }}" ng-alt="photo.caption">
            <div class="carousel-caption">
                <p>{{ photo.caption }}</p>
            </div>
        </div>
      </div>

      <a class="left carousel-control" href="#Carousel0" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#Carousel0" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>

Impossible de tout décrire ce qui s'est déroulé pendant ces Jeux, mais voici quelques SHOUT OUT:
<ul>
    Shout out à la première place à la compétition académique en Génie Informatique!
</ul>
<ul>
    Shout out à Picard qui ne faisait pas partie de l'équipe de Génie Informatique!
</ul>
<ul>
    Shout out à Notre Président Francis Quevillon qui essaye de diluer un drink de Tequila-Gatorade avec le Tequila-Gatorade de ses cochambreurs
</ul>
<ul>
    Shout out à la 2e meilleure shape
    qui a arrêté de servir à quoi que ce soit depuis les Jeux
</ul>
<ul>
    Shout out à Camille et Boulisse qui étaient bien trop cute
</ul>
<ul>
    Shout out à Picard de s'être fait lancer par-dessus-bord de son lit par Miguel le Terrible et qui s'est rendormi tout de suite après
</ul>
<ul>
    ShoutoutàmaspacebarquiaarrêtédefonctionnerpendantlesJeux
</ul>
<ul>
    Shout out à Abi et à Charles pour leurs impros funnéééé
</ul>
<ul>
    Shout out à Rambo de Polytechnique qui nous a enfin battu en finale de Génie en Herbe après 3 essais
</ul>
<ul>
    Shout out à la 2e shape qui a couru au Tchoukball
</ul>
<ul>
    Shout out à Boulisse le meilleur goaler de Water Polo
</ul>
<ul>
    Shout out à la première place en Tchoukball
</ul>
<ul>
    Shout out à Bouscotte qui a hypnotisé plusieurs madames avec ses pas de danse
</ul>
<ul>
    Shout out à tous ceux qui sont restés nous aider à faire la Machine, sincèrement merci
</ul>
<ul>
    Shout out à la machine qui pète des dents
</ul>
<ul>
    Shout out à Matthieu Sylvain qui devient émotif ;-;
</ul>
<p>
    Maintenant, il faut se tourner vers l'avenir! L'exécutif de l'an prochain est sorti et il sera à très grande majorité
    gelgifoise. Continuez de mettre du hype, continuez de recruter autant de courseurs aux initiations, et pour ceux
    qui n'ont pas pu faire les Jeux cette année, faites la course plus fort que jamais l'an prochain! <br>
    Aussi, Francis Quevillon aura la très facile tâche de VP-Machine, je compte sur vous pour l'aider fort et, qui sait,
    reconquir le titre à la maison l'an prochain! <br>
    Lol jk, Honey Badger VII is gonna whip your ass!
</p>