<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Régisseur</title>
    <link rel="icon" href="https://cdn.rawgit.com/AlexisJa/regisseur/master/pic/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<style>
    .container{
  width:100%;
    background-color: #dd0000;


}
.jumbotron{
    margin: 0 auto;
    max-width:1200px;
    background-color: #dd0000;
    color: white;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    height: 250px;
    background-image: url("https://cdn.rawgit.com/AlexisJa/regisseur/86b9db9e8f6188eb5a39f7c80a2d07267f026d6e/pic/regie_noir.png");
    background-size: 790px 350px;
    background-repeat: no-repeat;
    background-position: right top;


}
body {
    position: relative;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    background-image: url("https://cdn.rawgit.com/AlexisJa/regisseur/master/pic/circuit2.jpg");
}
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.affix ~ .container-fluid {
 position: relative;
 top: 50px;
}
.PageDiv{
    max-width: 1200px;
    background-color: #eeeeee;
    min-height: 500px;
}
.PageDiv:nth-child(even){
    background-color: #dddddd;
}
.redBorder{
    border: 10px solid #dd0000;
    transition: 0.5s;

}
.redBorder:hover{
    border: 1px solid #dd0000;
}
.roundImage{
    height:300px;
    border-radius: 50%;
    border: 10px solid #dd0000;
    transition: 0.5s;
}
.roundImage:hover{
    border: 1px solid #dd0000;
}
.face{
    text-align: center;
}
.face>img{
    height:100px;
    border-radius: 50%;
    border: 6px solid #dd0000;
    transition: 0.5s;
}
.face>img:hover{
    border: 1px solid #dd0000;
}
.projet{
    text-align: center;
}
.projet>img{
    height:200px;
    width:200px;
    border-radius: 50%;
    border: 6px solid #dd0000;
    transition: 0.5s;
}
.projet>img:hover{
    border: 1px solid #dd0000;
}
.pageTitle{
    font-weight: 900;
    color: #dd0000;
}
.carousel-inner > .item > img{
    margin: 0 auto;
}
.fall:hover{
    transform:rotate(-110deg)
}
.bouscotte{
    display: block;
    margin: 0 auto;
    border-radius: 200px;
    border: 10px solid #dd0000;
    transition: 32s;
}
.bouscotte:hover{
    transform:rotate(8640deg)
}
</style>
<script>
    var ng_reg = angular.module("regisseur", []);

ng_reg.controller('CarouselCtrl', function($scope){
    $scope.photos = [];
    $scope.clicked = function(){
        console.log($scope.hello);
    };
    $scope.init = function(location, photo_array){
        console.log(photo_array);

        $scope.photos = [];
        for (i = 0; i<photo_array.length; i++){
            $scope.photos.push({src: location + photo_array[i][0], caption: photo_array[i][1]});
            // $scope.photos[i].src = location + photo_array[i][0];
            // $scope.photos[i].caption = photo_array[i][1];
        }
        console.log($scope.photos);

    }
});
</script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50" ng-app="regisseur">


        <div class="container">
            <div class="jumbotron">
                <h1>Régisseur</h1>
                <h4>Le journal étudiant du Regroupement des Étudiants <br> de Génie Informatique et Électrique</h4>
                <h5>Volume 1 - Édition Rentrée automne 2016</h5>
            </div>
        </div>
        <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="250">
        <ul class="nav navbar-nav"><li><a href="#section0">Bonne rentrée!</a></li><li><a href="#section1">Votre Exécutif</a></li><li><a href="#section2">Initiation</a></li><li><a href="#section3">Projets étudiants</a></li><li><a href="#section4">Événements à venir</a></li></ul></nav>
<div id="section0" class="container-fluid PageDiv">
        <h2 class="pageTitle">Bonne rentrée!</h2>
        <h3>C'est quoi le Régisseur?</h3>
<p>
    Depuis la nuit des temps, le Régisseur, c'est le journal étudiant du RÉGIÉ. C'est lui qui vous tient informé de tout ce qui
    arrive dans le bacc, autant au niveau pédagogique que socio-alcoolique. <br>
    Mais, on va se le dire, un journal, en 2016, c'est dépassé. Qu'est-ce que je vais bien pouvoir vous dire en un journal
    qui sort <strike> mensuellement</strike> de temps en temps que vous ne pourriez pas déjà voir sur
    <a href="https://www.facebook.com/groups/gelgif/">notre page Facebook</a> ou
    <a href="http://gelgif.com/index.php5?page=main">notre site web</a>? <br>
    Les réponses sont multiples:
    <ul>
        <li>Des articles/chroniques plus longs.</li>
        <li>Laisser la parole à plein de gens intéressants, peut-être même à des profs. Mais JAMAIS à Picard.</li>
        <li>Hoster des photos avec une meilleure qualité que Facebook.</li>
    </ul>
    Vous aurez aussi remarqué un nouveau format cette année. En effet, the Régisseur goes web! <br>
    Ça aussi, il y a plein de bonnes raisons:
    <ul>
        <li>Tsé, l'environnement pis toute.</li>
        <li>Le torrent d'InDesign que mon prédécesseur
            <a href="https://www.facebook.com/charlesolivier.magnan?fref=ts">Charles-Olivier</a>
            m'a envoyé ne fonctionnait pas.</li>
        <li>Ça permet de faire plein de choses impossibles avec un pdf, comme mettre des GIFs. Pas des GIFs comme
            <a href="https://www.facebook.com/charlesolivier.magnan?fref=ts">celui-ci</a>, mais bien comme
        <a href="http://giphy.com/gifs/WX8q9SfmzHmAo/fullscreen">celui-ci</a>.</li>
        <li>Pouvoir mettre plein d'Easter Eggs. Comme une table de DJ. Voir Bouscotte si vous ne comprenez pas.</li>
        <li>Qui sait, il y a peut-être une nouvelle Red Zone?</li>
    </ul>
    Aussi, les rares GLO qui lisent ça vont sûrement s'écrier: <i> « Où sont mes pots Mason quand j'en ai besoin? »</i>.
    Ça et: <i> « UN GEL QUI CODE? »</i>
    </p>
    <div style="text-align:center; padding: 0 0 25px 0;">
        <img class="redBorder" src="http://i.imgur.com/aOOKSA5.jpg" height="400px">
    </div>
    <p>
    Ce à quoi je répondrais: Oui, un GEL qui code. Du Web. Where's your God now?
    En fait, il est juste <a href="https://www.facebook.com/gigawatt.gelgif?fref=ts">ici</a>. Et là,
    en compagnie de votre humble serviteur, moi-même, Alexis Jalbert, qui vous souhaite une
    <strong> bonne rentrée à tous! </strong>
</p>
<div style="text-align:center; padding: 0 0 25px 0;">
    <img class="roundImage" src="https://cdn.rawgit.com/AlexisJa/regisseur/master/pic/MGR_mit_Gott.jpg">
</div>

</div><div id="section1" class="container-fluid PageDiv">
        <h2 class="pageTitle">Votre Exécutif</h2>
        
<h4><span class="face"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/queue.jpg"></span>
    <strong>Francis Quevillon</strong> alias Queue - <i>Président</i> - francis.quevillon.2@ulaval.ca </h4>
<p>

    Hey hey ! <br>
    Bienvenue au nouveaux arrivants dans la belle famille gelgif et bonne continuité aux survivants des années
    précédentes. <br><br>
    On vous l'a probablement déjà dit, mais pour ceux qui avaient la tête ailleurs, le RÉGIÉ est votre association
    étudiante. Plus exactement, c'est ton sentiment d'appartenance au programme, tes intérêts, tes besoins et ton
    support au cours de ta vie d'étudiant universitaire. Le rôle des gens sur le conseil exécutif du RÉGIÉ est de
    stimuler, divertir et faciliter ton parcours universitaire au sein des baccalauréats en génie informatique
    et en génie électrique. Que ce soit par l'entremise d'activités sportives, d'événements socioculturels
    ou de conférences académiques, participes et impliques toi, je te garantis que tu ne le regretteras pas. <br><br>
    Pour ma part, mon rôle est de veiller au bon fonctionnement de notre regroupement étudiant, tout en m'assurant
    de faire régner un climat prospère au sein de nos beaux gelgifois et nos belles gelgifoises.
    Pour ce faire, j'assure le suivi et le déroulement des projets du regroupement étudiant, je préside les réunions
    du conseil exécutif et organise les assemblées générales (dont je vous recommande d'être présents puisque
    des décisions vous touchant directement y sont prises et votre opinion est importante (en plus y'a de la bouffe
    gratuite)). Je siège aussi sur le comité pour le fond d'investissement étudiant avec le VP exécutif où des demandes
    sont faites pour financer des projets dans le département de génie informatique et génie électrique. <br><br>
    Bonne année scolaire à tous et que la force soit avec vous. <br>

    Suh Dude
</p>

<h4><span class="face"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/guedaille.jpg"></span>
    <strong>Gabrielle Desrochers</strong> alias Guedaille - <i>Trésorière</i> - gabrielle.desrochers.1@ulaval.ca </h4>
<div style="width:100%; text-align: center;">
    <img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/guedaille_texte.png">
</div>
<p><i>Note de l'éditeur: Non c'est correct, j'ai tout ce qu'il me faut...</i></p>

<h4><span class="face"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/cayen.jpg"></span>
    <strong>Matthieu Sylvain</strong> alias Le Cayen - <i>VP exécutif</i> - matthieu.sylvain.1@ulaval.ca </h4>
<p>
    Allo gang moi c’est Matthieu, quatrième année en GEL et votre vice-président à l’exécutif pour cette année.
    Mon rôle consiste à s’occuper des réservations des salles pour les rencontres du conseil exécutif, pour les
    assemblées générales ainsi que d’autres événements du RÉGIÉ.<br><br>
    Le gars réserve des salles, c’est relax comme job quand même hein? Bon je fais autre chose aussi franchement!
    Qui rédige les procès-verbaux desdites rencontres? Qui siège au conseil d’administration avec les deux belles
    personnes au-dessus de moi dans ce présent journal (joyeux sandwich de Guédaille)? Qui s’occupe de la charte
    du RÉGIÉ? Qui supplie le grand Monseigneur de Jalbertre de ne pas mettre de photos ridicules de lui dans le
    Régisseur? Spoiler alert la réponse à toutes ces questions-là c’est moi (un gars s’essaye…)!
    <br><br>
    Pour finir bonne année à tous et si vous avez besoin de quelque chose allant de conseils en programmation (not)
    à l’ouverture du local de projet n’hésitez surtout pas!
</p>
<p><i>Note de l'éditeur: YOU ****ING ASKED FOR IT</i></p>
<table width="100%" style="text-align: center; align-content: center;">
    <tr>
        <td width="33%">
                <img class="roundImage" src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/cayen2.jpg">
        </td>
        <td width="33%">

                <img class="roundImage" src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/cayen5.jpg">
        </td>
        <td width="33%">
                <img class="roundImage fall" src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/cayen4.jpg">
        </td>
    </tr>

</table>
<h4><span class="face"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/monseigneur.jpg"></span>
    <strong>Alexis Jalbert</strong> alias Monseigneur - <i>VP aux communications</i> - alexis.jalbert.1@ulaval.ca </h4>
<p>
    Salut, j'ai déjà assez parlé de même dans cette publication. Mais je fais ce que je veux, alors voici une chèvre.
</p>
    <div style="text-align: center;"><img src="http://www.doseoffunny.com/wp-content/uploads/2014/04/i.chzbgr.gif"></div>

<h4><span class="face"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/picard.jpg"></span>
    <strong>Alexandre Picard</strong> alias Peckerd - <i>VP aux affaires externes</i> - alexandre.picard.5@ulaval.ca </h4>
<p>
    Yiooo, moi c’est Picard. Je suis présentement en troisième année de GIF MASTER RACE. <br>
    Ma job c’est de faire mes devoirs pendant des réunions.
    Je siège aux caucus de la CADEUL (Confédération des Associations d'étudiants et étudiantes de l'Université Laval).
    Pendant ces caucus, nous discutons avec les exécutants de l’avenir du campus, des propositions qui sont apportées
    par les membres (ça pourrait être toi!) et de différentes choses qui vont de la pertinence des cours de Desbiens
    à celle des cours à Duguay. Je siège aussi à l’AESGUL (Association des étudiants en Sciences et Génie de l’Université Laval)
    comme administrateur. <br><br>
    En participant à ces réunions, je représente l’opinion de tous les membres du RÉGIÉ et je me dois de la respecter.
    Je dois, aussi, t’informer sur les différents débats et les activités qui se passent sur notre merveilleux campus et
    dans notre extraordinaire faculté. <br><br>
    Cette automne une grande quantité de comités sur le campus vont rechercher des membres, j’en ferai sûrement la liste
    dans un prochain Régisseur et sur le groupe de Facebook du RÉGIÉ. Il y en a pour tous les goûts, du comité
    «Féministes en mouvement de l’Université Laval» à la « Ligue sportive intra-muros ».
    Si tu veux t’impliquer vient me voir, c’est facile. <br>
</p>

<h4><span class="face"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/jesus.jpg"></span>
    <strong>Emile Bourque</strong> alias Jésus - <i>VP Festival</i> - emile.bourque.1@ulaval.ca </h4>
<p>
    Salut gang, Jésus ici présent <br>

    J'en suis à ma quatrième et dernière année du BAC en GEL MASTER RACE (tayeul Peckerd). <br>
    En tant que votre VP festival, mon rôle est de coordonner et de vous informer des activités qui se dérouleront
    durant le Festival de Sciences et Génie. <br><br>
    Pour ceux qui sont nouveaux à l'université, le festival c'est le moment le plus waurte de votre année universitaire
    et ça se passe au tout début de la session d'hiver. <br><br>
    Au menu, activités sportives, académiques, hivernales de toutes sportes et surtout, bin des partys, de la boisson
    et aucun sommeil! Tout les meilleurs ingrédients pour faire une soupe à saveur de waurte.
    <br><br>
    D'ici là, vous me trouverez presque toujours au Régié en train de vous péter la cenne à Smash.
    Au plaisir de vous voir, et n'oubliez jamais, que le waurte soit avec vous.
</p>

<h4><span class="face"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/simon.jpg"></span>
    <strong>Simon Bouchard</strong> - <i>VP IEEE</i> - simon.bouchard.9@ulaval.ca </h4>
<p>
    Bonjour chers GelGifois,
    Je suis en quatrième année de GEL et j’ai une passion pour l’électronique et la robotique. Je fais partie de
    l’équipe de <a href="#section3">Robocup</a>.<br><br> En tant que VP IEEE pour cette année, je vais organiser des formations
    palpitantes en lien avec le programme. Si vous avez des suggestions, n’hésitez pas à m’envoyer un mail. <br><br>
    J’organise également la compétition d’électronique de l’IEEE alors je vous invite tous à y participer
    peu importe votre niveau!
</p>

<h4><span class="face"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/nicre.jpg"></span>
    <strong>Nicolas Anctil</strong> alias Lafontaine - <i></i> - nicolas.ancitl.1@ulaval.ca </h4>
<p>
    J'AI PAS ENCORE ENVOYÉ MON TEXTE ET SI JE L'AI PAS ENVOYÉ AVANT LA DATA LIMITE LE RÉGISSEUR VA PARAÎTRE AVEC
    CE PLACEHOLDER LÀ ET JE VAIS AVOIR L'AIR CAVE
</p>

<h4><span class="face"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/clara.jpg"></span>
    <strong>Clara Gauvin</strong> - <i>VP aux affaires socioculturelles</i> - clara.gauvin.1@ulaval.ca </h4>
<p>
    J'AI PAS ENCORE ENVOYÉ MON TEXTE ET SI JE L'AI PAS ENVOYÉ AVANT LA DATA LIMITE LE RÉGISSEUR VA PARAÎTRE AVEC
    CE PLACEHOLDER LÀ ET JE VAIS AVOIR L'AIR KEUNE
</p>

<h4><span class="face"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/jay.jpg"></span>
    <strong>Jérémy Brown</strong> alias Jay - <i>VP sports</i> - jeremy.brown.1@ulaval.ca </h4>
<p>
    « Pourquoi a-t-on besoin d’un VP aux activités sportives? » Parce qu’il faut faire du sport. « Pourquoi faudrait-il
    faire du sport? » Pour pouvoir manger de la poutine en buvant de la bière par la suite. « Est-ce que jouer à Smash
    c’est un sport? » Je ne veux pas semer la controverse dès le début de l’année, alors on s’en reparlera plus tard.
    <br><br>
    Ceci étant dit, je vous encourage fortement à participer aux activités sportives que j’organiserai chaque semaine
    (ou presque). En effet, ces activités sportives et digestives permettent de créer une franche camaraderie entre nous
    tous, ce qui est indispensable pour apprécier le bac. <br><br>
    Rejoignez <a href="https://www.facebook.com/groups/718525541507647/">le groupe Facebook Sports GEL-GIF 2016-2017</a>
    pour rester informés sur les activités organisées.
</p>

<h4><span class="face"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/bouscotte.jpg"></span>
    <strong>Julien Morissette</strong> alias BOUSCOTTE - <i>VP web</i> - julien.morissette.1@ulaval.ca </h4>
<p>
    Hey, people, je me présente, Julien "BOUSCOTTE" Morissette, c'est moi qui a le plaisir d'être votre VP web pour
    l'année. Ma tâche consiste à mettre à jour le site avec toutes infos pertinentes pour vous et de m'assurer que la
    banque d'examens est fonctionnelle lorsque vous en avez besoin (genre la veille d'un examen que vous commencez tout
    juste l'étude). <br><br>
    N'hésitez pas à venir me voir si vous avez des suggestions pour améliorer le site ou juste pour parler de
    programmation en général. Profitez bien de votre temps à l'université ça passe trop vite ;).
</p>
<video class="bouscotte" width="400px" height="400px" autoplay loop>
    <source src="https://img.buzzfeed.com/buzzfeed-static/static/2014-10/3/18/enhanced/webdr05/anigif_enhanced-23241-1412376195-1.gif?output-format=mp4">
</video>

</div><div id="section2" class="container-fluid PageDiv">
        <h2 class="pageTitle">Initiation</h2>
        <p> blah blah j'espere que personne est mort pis que le Cayen s'est pas fait frapper au Shack blah blah <br>
    Voici des photos pour en garder des souvenirs, surtout pour ceux qui ne s'en souviennent déjà plus.
</p>
<div ng-controller="CarouselCtrl" ng-init="init('http://i.imgur.com/',
[
['bwa8C4r.jpg','grosse torche 1'],
['4rm3Jw0.jpg','grosse torche 2'],
['eWEsWtK.jpg','vieux pauvre'],
['QsZwdaw.jpg','BACK BOOBS'],
])">
    <div id="CarouselInitiation" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->

      <ol class="carousel-indicators">
        <li ng-repeat="photo in photos" data-target="#CarouselInitiation" data-slide-to="{{ $index }}" ng-class="$index==0 ? 'active' : ''"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
          <div class="item" ng-repeat="photo in photos" ng-class="$index==0 ? 'active' : ''">
                <img ng-src="{{ photo.src }}" ng-alt="photo.caption">
            <div class="carousel-caption">
                <p>{{ photo.caption }}</p>
            </div>
        </div>
      </div>

      <a class="left carousel-control" href="#CarouselInitiation" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#CarouselInitiation" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
</div><div id="section3" class="container-fluid PageDiv">
        <h2 class="pageTitle">Projets étudiants</h2>
        <h4><span class="projet"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/robocup.png"></span>
    <strong>Robocup - section Université Laval</strong> <a href="http://robocupulaval.com/">robocuplaval.com</a> </h4>
<p>
    Robocup ULaval est un projet étudiant de la faculté de sciences et génie de l’Université Laval qui regroupe
    plus de 75 étudiants actifs provenant des domaines du génie mécanique, génie électrique, génie informatique,
    génie logiciel et informatique. L’objectif de ce projet est de promouvoir la robotique mobile auprès des étudiants
    de l’université par le biais de plusieurs sous-projets. Chacun de ces sous-projets traitent les défis que
    représente la small-size league de la compétition dea robotique internationale : RoboCup Soccer. <br>
    Tous les sous-projets ont été conçus pour former et intéresser nos nouvelles recrues aux problématiques du projet.
    Pour former les débutants, nous avons créé la Robocup Academy qui offre un programme de formation continue
    hebdomadaire. À la fin de cette formation, les étudiants peuvent faire leurs preuves lors des compétitions
    universitaires de programmation et de robotique mobile. La finalité de tout cela est que nous soyons capables
    de participer à la compétition internationale : la RoboCup Soccer. <br><br>

    COMPÉTITION INTERNATIONALE
    La RoboCup Soccer est une compétition internationale de robotique mobile qui existe depuis 1996 dont le but
    est de construire une équipe de robots autonomes capables de battre les humains au soccer d’ici 2050. Pour parvenir
    à ce but, la compétition a été divisée en 5 ligues qui correspondent chacune à un domaine de recherche spécifique.
    Cela va de l’intelligence artificielle pure, au développement de robots humanoïdes. Le plus ambitieux de nos projets
    est de développer une équipe assez performante pour pouvoir participer à cette compétition dans la ligue small-size.
    <br><br>
    La Small-Size League (SSL) confronte deux équipes de 6 petits robots qui jouent au soccer avec une balle de golf
    sur un terrain de 9 par 6 mètres. Les défis de cette ligue se situent dans la coopération multiagents en
    environnement hautement dynamique. Un système de vision capture les mouvements des robots au-dessus du terrain
    et envoie les informations à l’intelligence artificielle qui va transmettre les ordres à chaque robot en jeu.
    Chaque robot doit rentrer dans un cylindre de 180mm de diamètre et de 150mm de hauteur. Il doit être capable de
    se déplacer en translation et en rotation, de contrôler la balle avec un système pour dribbler et botter la balle
    pour effectuer des passes et des tirs.
</p>

<h4><span class="projet"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/machine1.jpg"></span>
    <strong>Machine des Jeux de Génie - délégation ULaval</strong> <a href="http://www.jdglaval.com/">jdglaval.com</a> </h4>
<p>
    Sans entrer trop en détails dans les Jeux de Génie, qui sont couverts <a href="#section4">ici</a>, il y a, au sein
    de cette compétition, l'épreuve de la Machine. À chaque début de session d'automne, on reçoit un tout nouveau cahier
    des charges, et on a jusqu'aux Jeux en début Janvier pour réaliser le meilleur robot au Québec. <br>
    C'est extrêmement formateur puisque l'on fait face à des choix et des situations de design très différents de tout
    ce qu'on voit en cours. De plus, ça permet de sortir de sa zone de confort puisque les défis sont très
    multidisciplinaires, chaque membre touche de près ou de loin à la mécanique, l'électronique, la programmation et la
    fabrication. En plus, les talents artistiques sont recherchés, puisqu'on doit faire un vidéo de présentation du
    robot à chaque année (<a href="https://www.youtube.com/watch?v=EccRsaCbfFo">2014</a>,
    <a href="https://www.youtube.com/watch?v=HLm1tsmQcbU">2015</a>,
    <a href="https://www.youtube.com/watch?v=L7IDZh8G0bk">2016</a>)! <br><br>
    Avec nos trois podiums dans les 3 dernières années, Laval est une des équipes à battre. La Machine, c'est l'occasion
    idéale d'apprendre tout en s'amusant avec une gang de malades. On cherche toujours des recrues pour assurer la
    postérité, et c'est aussi une bonne façon de commencer sa course des Jeux du bon pied! <br>
    <h5><strong>FAITES LES JEUX!</strong></h5>

</p>


<h4><strong>Autres</strong></h4>
<p>
    Plusieurs autres projets étudiants s'adressant aux étudiants de GELGIF existent, mais ils étaient trop cool pour
    nous envoyer un texte. Tout de même, en voici une liste peu exhaustive.
</p>
<ul>
    <li>GAUL - Ils font des fusées</li>
    <li>BAJA SAE - Ils font des chars qui vont dans la bouette</li>
    <li>Formule SAE - Ils font des chars qui vont vite vite</li>
    <li>Alérion Supermileage - Ils font des chars qui boivent moins que Goup avant un examen de C++</li>
</ul>
<p>
    De plus, pour le Festival, on fait à chaque année une belle machine de casino, ce qui demande des bras, des idées et
    des GELGIF assoiffés de faire des apprentissages. Prier à Jésus pour des détails.
</p></div><div id="section4" class="container-fluid PageDiv">
        <h2 class="pageTitle">Événements à venir</h2>
        <h4><span class="projet"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/jdg2017.jpg"></span>
    <strong>Course des Jeux de Génie</strong></h4>
<p>
    Les Jeux de Génie, c'est une compétition plus qu'amicale entre toutes les facultés de Génie au Québec. 44 délégués
    auront la chance, du 3 au 7 janvier prochain, de représenter l'Université Laval lors des nombreuses épreuves qui se
    tiendront, cette année, à la Polytechnique de Montréal. <br><br>
    Au menu:
    <ul>
        <li>Compétitions sportives</li>
        <li>Conpétitions académiques</li>
        <li>Compétition de la Machine</li>
        <li>Tournoi d'improvisation</li>
        <li>Tournoi de Génie en Herbe</li>
        <li>Débats oratoires</li>
        <li>Rencontres inoubliables</li>
        <li>Contacts dans l'industrie</li>
    </ul>
    Nous avons toujours besoin de nouvelles recrues pour faire partie de notre grande famille! Pour te joindre à nous,
    il n'y a qu'une chose à faire: la COURSE des Jeux! Pour ne rien manqu er, tu peux rejoindre
    <a href="https://www.facebook.com/groups/352902271459771/"> la page Facebook de la course</a>. En gros, la Course,
    ce sont des partys de sélection, où on apprend à connaître les autres et où on lâche notre fou. Il y a aussi des
    événements secondaires qui viennent se greffer à tout ça, comme un tailgate du Rouge & Or, des partys à l'externe, et
    plein d'autres choses plaisantes qui font que l'on arrive aux Jeux soudés comme une grosse famille.
    <br><br>
    En plus j'ai déjà averti l'Exec des Jeux que GELGIF allait être EN FEU lors de cette course, alors ne me faites pas
    mentir svp.
</p>
<h6>TL:DR; FAITES LES JEUX!</h6>

<h4><span class="projet"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/csgames.png">
    <img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r1/pics/cslaval.png"></span>
    <strong>CS Games - délégation ULaval</strong></h4>
<p>
    Hey toi, t'aimes la programmation? T'aimes relever des défis? T'as le goût de te dépasser? Et surtout t'as le gout
    de triper une fin de semaine avec pleins de passionnés d'informatique? Et bien, les CS Games sont pour toi. <br><br>
    Les CS Games, c'est une compétition interuniversitaire regroupant plusieurs universités d'Amérique du Nord et
    composée d'épreuves touchant différents domaines de l'informatique. L'an dernier, l'université Laval a envoyé un
    total de 20 personnes participer à la compétition et nous avons obtenu une 3e place en algorithmie ainsi que deux
    deuxième place en intelligence artificielle et en ingénierie logicielle. <br><br>
    En attendant l'édition 2017, on prévoit faire comme l'an passé et organiser des conférences sur divers sujets ainsi
    que quelques compétitions amicales afin de s'entrainer. La compétition n'est pas réservée seulement au gens de
    IFT/GLO et j'espère voir quelques représentants de GEL/GIF se joindre à moi. <br><br>
    Bienvenue à tous et pour plus de détails surveillez la séance d'information qui devrait avoir lieu dans les
    2-3 premières semaines de la session où venez me jaser directement. <br><br>
     - Julien "Bouscotte" Morissette.
</p>
<h4>- Festival de Sciences et Génie</h4>
<p>
    Le Président du 42e Festival de Sciences et Génie est supposé vous faire un texte éventuellement. Mais il est un
    peu YOLO de nature alors ça va arriver plus tard. Pas de stress, c'est juste au début de la session d'Hiver. Tout ce
    que ça prend en ce moment, c'est une duchesse autant sua'coche que Clara l'an dernier.
</p>
<h4>- Compétition Québécoise d'Ingénierie</h4>
<p>
    Ça aussi c'est juste dans une session, mais allez consulter <a href="http://cqi-qec.qc.ca/2017/fr/">leur site</a>
    pour voir ce dont il s'agit. C'est à Rimouski cette année, j'ai vraiment trop hâte. L'an dernier, notre université
    a, comment dire... vraiment bien performé, donc, qui sait, peut-être auras-tu toi aussi la chance de franchir cette
    étape et te rendre à la Compétition Canadienne d'Ingénierie à Calgary afin d'y répandre
    <strike>l'Excellence</strike> tes beaux talents...
</p>
<h4>- Tout au long de l'année</h4>
<p>
    Au RÉGIÉ, vous avez toujours accès à notre merveilleuse table de Babyfoot, 24/7. De plus, on a un tout nouveau setup
    de Project M, merci à notre délicieux président pour son travail acharné cet été.
</p>
<h1>May the Waurte forever be in your favour</h1></div>
</body>
</html>