<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Régisseur</title>
    <link rel="icon" href="https://cdn.rawgit.com/AlexisJa/regisseur/master/pic/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<style>
    .container{
  width:100%;
    background-color: #dd0000;


}
.jumbotron{
    margin: 0 auto;
    max-width:1200px;
    background-color: #dd0000;
    color: white;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    height: 250px;
    background-image: url("https://cdn.rawgit.com/AlexisJa/regisseur/86b9db9e8f6188eb5a39f7c80a2d07267f026d6e/pic/regie_noir.png");
    background-size: 790px 350px;
    background-repeat: no-repeat;
    background-position: right top;


}
body {
    position: relative;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    background-image: url("https://cdn.rawgit.com/AlexisJa/regisseur/master/pic/circuit2.jpg");
}
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.affix ~ .container-fluid {
 position: relative;
 top: 50px;
}
.PageDiv{
    max-width: 1200px;
    background-color: #eeeeee;
    min-height: 500px;
}
.PageDiv:nth-child(even){
    background-color: #dddddd;
}
.redBorder{
    border: 10px solid #dd0000;
    transition: 0.5s;

}
.redBorder:hover{
    border: 1px solid #dd0000;
}
.roundImage{
    height:300px;
    border-radius: 50%;
    border: 10px solid #dd0000;
    transition: 0.5s;
}
.roundImage:hover{
    border: 1px solid #dd0000;
}
.face{
    text-align: center;
}
.face>img{
    height:100px;
    border-radius: 50%;
    border: 6px solid #dd0000;
    transition: 0.5s;
}
.face>img:hover{
    border: 1px solid #dd0000;
}
.projet{
    text-align: center;
}
.projet>img{
    height:200px;
    width:200px;
    border-radius: 50%;
    border: 6px solid #dd0000;
    transition: 0.5s;
}
.projet>img:hover{
    border: 1px solid #dd0000;
}
.pageTitle{
    font-weight: 900;
    color: #dd0000;
}
.carousel-inner > .item > img{
    margin: 0 auto;
}
.fall:hover{
    transform:rotate(-110deg)
}
.bouscotte{
    display: block;
    margin: 0 auto;
    border-radius: 200px;
    border: 10px solid #dd0000;
    transition: 32s;
}
.bouscotte:hover{
    transform:rotate(8640deg)
}
</style>
<script>
    var ng_reg = angular.module("regisseur", []);

ng_reg.controller('CarouselCtrl', function($scope){
    $scope.photos = [];
    $scope.clicked = function(){

    };
    $scope.init = function(location, caption_dict, pic_number){
        $scope.photos = [];
        for (var i = 1; i<=pic_number; i++){
            var caption = '';
            $scope.photos.push({src: location + i+'.jpg', caption: caption});
        }
    }
});
</script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50" ng-app="regisseur">


        <div class="container">
            <div class="jumbotron">
                <h1>Régisseur</h1>
                <h4>Le journal étudiant du Regroupement des Étudiants <br> de Génie Informatique et Électrique</h4>
                <h5>Volume 2 - Édition Mi-session automne 2016</h5>
            </div>
        </div>
        <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="250">
        <ul class="nav navbar-nav"><li><a href="#section0">Santé publique</a></li><li><a href="#section1">VP première année</a></li><li><a href="#section2">Waurte du mois</a></li><li><a href="#section3">Dictionnaire du Smash</a></li><li><a href="#section4">Éditorial</a></li><li><a href="#section5">Arbre en arbre</a></li><li><a href="#section6">Pub Crawl</a></li><li><a href="#section7">Course JDG</a></li><li><a href="#section8">Festival</a></li></ul></nav>
<div id="section0" class="container-fluid PageDiv">
        <h2 class="pageTitle">Santé publique</h2>
        <h3>
    ATTENTION! ANNONCE DE SANTÉ PUBLIQUE!
</h3>
<p>
    Une épidémie de <i>beignage</i> a récemment pollué le mur Facebook du RÉGIÉ. Pour ceux qui ne sont pas familiers
    avec la maladie, les scientifiques s'entendent pour dire qu'elle est originaire de certaines compagnies privées où
    les postes de travail laissés sans surveillance peuvent être utilisés pour <i>beigner</i> leur propriétaire,
    c'est-à-dire le forcer à apporter des beignes à ses collègues <br>
    Malheureusement, l'épidémie s'est propagée dans notre belle communauté et a atteint le statut de <i>
    Picardus Desagreabilis</i>, mieux connu sous nom de « cancer ». Il est donc maintenant temps pour nous tous de nous
    prémunir contre cette maladie. <br>
    Pour vous protéger, le port du condom est recommandé, mais son taux d'efficacité n'est pas encore bien connu. Il est
    donc plus simple de prendre l'habitude d'utiliser WINDOWS+L, CTRL+ALT+L ou
    POMME+WHATEVERELSETHATREPLACESESCAPEBUTTONONTHENEWMACBOOKS dépendemment de votre système d'exploitation. Si vous
    utilisez un ordinateur du RÉGIÉ, ça a l'air que vous ne pouvez pas vérouiller votre session, notre suggestion serait
    donc de ne jamais vous lever.
    <br>
    Si vous voyez un ordinateur sans surveillance, une victime vulnérable, sans défense, à votre merci, dites non à la
    culture du viol et laissez-le tranquille, #sansOuiC'estNon. Si votre envie de troller est trop importante, on vous
    suggère de faire un bon vieux facebook rape et de faire un simple statut disant «Lol!!, je suis gai!!!!1! XD XD».
    <br>
    Ensemble, gardons notre page du RÉGIÉ <strike>propre</strike> un peu moins sale!

</p>
</div><div id="section1" class="container-fluid PageDiv">
        <h2 class="pageTitle">VP première année</h2>
        Vous avez élu notre nouveau venu dans l'exécutif du RÉGIÉ: Marc-Alliocha Rudolf

<h4><span class="roundImage"><img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r2/pics/marc.jpg"></span></h4>

<p>
    Salut guys ! Moi c'est Marc-Alliocha et je suis à ma première année de Génie Électrique (let's goo, reste juste 4 ou
    5 ans ou 10) et je suis votre nouveau représentant de première année !!!?! <br>

    Pour l'instant, j'essaie de montrer à mes confrères de première année à quel point le RÉGIÉ est formidable et
    j'espère faire de nous un famille plus unie :') pour qu'on soit encore plus nice que les plus vieux (sorry aux plus
    vieux pour le SNAKE (backstabber) move). <br>
    Sinon j'aime bien faire la fête (putsi putsi putsi) et avant qu'on me le demande je préfère la cuisse à la poitrine
    et j'aime pas le chocolat, mais je suis un grand joueur de Mario Strikers (j'acepte tous les challenges).
    Je suis très très gentil alors si vous voulez en savoir plus sur moi venez me voir SVP (j'aimerais avoir des amis
    :') ).

    Si vous voulez faire partie de l'organisation pour l'initiation de l'année prochaine, n'éhistez pas à venir me voir !!
    <br>
    Stay Lit or get Lit
</p>
</div><div id="section2" class="container-fluid PageDiv">
        <h2 class="pageTitle">Waurte du mois</h2>
        Le waurte du mois revient à Rémi Courtemanche, Guillaume Boulisse et Emile Bourque qui ont su monter le mont Katahdin,
dans l'État du Maine. En réalisant cet exploit, ils ont pu prouver plusieurs choses:
<li>
    Notre drapeau peut peut avoir une utilité
</li>
<li>
    Les GELGIF peuvent faire de grandes choses quand ils ne sont pas en train de gamer
</li>
<li>
    Les GELGIF sont capables de monter des grosses
</li>
<div align="center">
    <img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r2/pics/waurte.jpg" style="max-width: 1150px">
</div>

Félicitations!</div><div id="section3" class="container-fluid PageDiv">
        <h2 class="pageTitle">Dictionnaire du Smash</h2>
        <i>Les paroles s'envolent, les écrits restent</i> - Mohamed Ali, 1736
<p>
	Comme Smash reste très populaire parmi les membres du RÉGIÉ, toute génération confondue, il est important de
    s'assurer que les termes restent compris de tous. Voici donc un Smash-tionnaire pour mieux comprendre les
    particularités des termes propres au RÉGIÉ
</p>

<ul>
	<b></b>
</ul>
<ul>
	<b>All random</b> n.m. Dès que 3 joueurs choisissent le personnage "Random", le quatrième est tenu de le
    sélectionner aussi. Le terrain de jeu devrait aussi être choisi aléatoirement. Le même comportement devrait être
     adopté en cas de 3 Captain Falcon, auquel cas le 4e joueur devrait également le choisir. Le terrain de
     prédilection, dans cette éventualité, est Dreamland
</ul>
<ul>
	<b>Bowser</b>[Bô-zeu-re] n.m. Tenir un smash très longtemps et attendre que quelqu'un tombe dedans
</ul>

<ul>
	<b>Cancer</b>  adj.
	<li>Se dit d'un joueur qui rend le jeu désagréable en faisant utilisant les meilleurs attributs de son
        personnage lors des momentrs de vulnérabilité de ses adversaires, et ce, à plusieurs reprises durant le match
    </li>
	<li>Se dit d'un joueur qui ne fait que s'éloigner de l'action pour lancer des projectiles à répétition</li>
</ul>
<ul>
	<b>HNNNNNGG</b> [MMMMMMMMMMMM] n.m. Moment d'excitation spontané causé par une action spectaculaire
</ul>
<ul>
	<b>Ledger</b> v. Action de tenir le bord du terrain, empêchant le retour des autres joueurs. À proscrire.
    S'excuser en cas de "ledge" accidentel
</ul>
<ul>
	<b>Mek-mee</b>
</ul>
<ul>
	<b>Métastase</b>
</ul>
<ul>
	<b>Next</b>
</ul>
<ul>
	<b>Opportu-knee-té</b>
</ul>
<ul>
	<b>Petite dernière</b>
</ul>
<ul>
	<b>Picard, (faire un)</b>
</ul>
<ul>
	<b>Random</b>
</ul>
<ul>
	<b>Team Next</b>
</ul>
<ul>
	<b>Team Singe</b>
</ul>
<ul>
	<b>Try Hard</b>
</ul>
<ul>
	<b>Waurte</b>
</ul>
</div><div id="section4" class="container-fluid PageDiv">
        <h2 class="pageTitle">Éditorial</h2>
        <p>
    <i>Les propos tenus dans cette section ne réflètent en aucun cas les positions officielles du RÉGIÉ</i>
</p>
<p>
    Parmi tous les débats de société qui se déroulent en ce moment, il y en a un qui touche particulièrement la jeunesse:
    La proposition d'augmenter les salaires minimum à 15$ par heure. Lorsque questionné sur sa position en la matière,
    le comité exécutif du RÉGIÉ a décidé de s'abstenir à appuyer ou non cette proposition.
</p>
<div align="center">
    <img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r2/pics/editorial.jpg" style="max-width: 1150px">
</div>
<p>
    Les arguments du pour et du contre sont très nombreux et considérables, mais l'équipe de rédaction du Régisseur a
    considéré principalement la qualité de vie des étudiants en GELGIF, et a donc décidé de se positionner <b>POUR</b>
    l'augmentation des salaires minimum à 15$ par heure. <br>
    Comme le clan du contre l'a si bien démontré, une hausse aussi précipitée des salaires pousserait plusieurs entreprises
    à remplacer des emplois peu rénumérés par des ordinateurs ou des machines. Cela créerait des opportunités d'emploi
    incroyables pour nous, futurs ingénieurs. <br>
    Supportons donc le mouvement social pour l'augmentation des salaires minimum, et, ensemble, nous pourrons nous trouver
    des meilleurs emplois sur leur dos!
</p></div><div id="section5" class="container-fluid PageDiv">
        <h2 class="pageTitle">Arbre en arbre</h2>
        <p> Notre valeureux VP-Sports nous a organisé une belle sortie de famille à Sarbayä.
    On s'est fait des bras, on a sué dans la pluie, on a eu du plasir, et on a eu de la bière gratis à la Voie Maltée.
    Merci Jay! <span class="glyphicon glyphicon-heart"></span>
</p>
<div align="center">
<img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r2/pics/tree.jpg" style="max-width: 1000px">
</div></div><div id="section6" class="container-fluid PageDiv">
        <h2 class="pageTitle">Pub Crawl</h2>
        <h2>Drinks out for Harambe!</h2>
<p>
    Plusieurs valeureux guerriers ont pris d'assaut le Vieux-Québec le 5 novembre dernier, armés de seuls leur courage,
    leur foie et leur oseille. <br>
    Certains avaient des examens à oublier, d'autres à célébrer, et certains n'avaient rien à perdre, vue l'imminence de
    leur premier examen de SCL. <br>
    Pour ceux qui ne s'en souviennent plus, ce qui est très louable, les bars étaient les suivants:
    <ul>
        Rideau Rouge
    </ul>
    <ul>
        Bateau de Nuit
    </ul>
    <ul>
        Sacrilège
    </ul>
    <ul>
        Ozone
    </ul>
    <ul>
        Inox
    </ul>
    <ul>
        Nelligan
    </ul>
    <ul>
        Ninkasi
    </ul>
    Mais bien sur, ce n'était pas assez pour certains, qui s'écartant des sentiers battus, ont également fait des arrêts
    au Galway, au Sul'Side et au Scanner. GG WP.
</p>

<div ng-controller="CarouselCtrl" ng-init="init('https://cdn.rawgit.com/AlexisJa/regisseur/master/r2/pics/pub_crawl/',
[
], 30)">
    <div id="CarouselInitiation" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->

      <ol class="carousel-indicators">
        <li ng-repeat="photo in photos" data-target="#CarouselInitiation" data-slide-to="{{ $index }}" ng-class="$index==0 ? 'active' : ''"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
          <div class="item" ng-repeat="photo in photos" ng-class="$index==0 ? 'active' : ''">
                <img ng-src="{{ photo.src }}" ng-alt="photo.caption">
            <div class="carousel-caption">
                <p>{{ photo.caption }}</p>
            </div>
        </div>
      </div>

      <a class="left carousel-control" href="#CarouselInitiation" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#CarouselInitiation" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
</div><div id="section7" class="container-fluid PageDiv">
        <h2 class="pageTitle">Course JDG</h2>
        <p>
    Ouch. J'ai encore mal. <br>
    Vous avez vraiment bien fait ça! GELGIF a clairement montré sa domination, et la sélection a été très très dure!
    Ceux qui ont fait la sélection: GG WP, mais rien n'est joué, il faut encore tout donner au Bootcamp!
    Pour les autres, sérieusement beau travail, tous les GELGIF ont été appréciés pendant la course, et ne baissez pas
    les bras, on souhaite tous vous revoir dans la course l'an prochain!

</p>
<div align="center">
    <img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r2/pics/course.jpg" style="max-width: 1150px">
</div></div><div id="section8" class="container-fluid PageDiv">
        <h2 class="pageTitle">Festival</h2>
        <p>
    Très chers Gelgifois, <br>
    Il me fait grand plaisir de vous annoncer que la première neige est tombée et qu’à l’Université Laval c’est synonyme
    de l’arrivée à grands pas du Festival de Sciences et Génie! <br>
    Pour les nouveaux qui ne connaissent pas encore le Festival, cela signifie que dans à peine deux mois il y aura,
    pour ceux qui oseront participer à fond, votre plus belle expérience universitaire. Le Festival c’est bien plus
    qu’un simple enchaînement d’activités, c’est un mode de vie. <br>
    La semaine pré-festival (qui se trouve à être la deuxième semaine de cours de la session d’hiver) sert de
    réchauffement pour les vraies festivités. On y joue aux différents sports afin de déterminer les associations
    étudiantes qui passeront dans les quarts de finale!
    <br>
    La semaine suivante, on vous demande rien de moins que
    l’impossible: participer à toutes les activités. Un horaire officiel sortira plus tard dans la session, mais
    essentiellement il y a des activités 20h par jour. Oui, oui, 20h par jour. Sans compter les films qui passent 24h
    sur 24h. Durant le jour, vous pourrez faire du génie en herbe, des wikiwars, de l’improvisation, du curling sur
    monture, un bain de neige, un concours de drink, etc. Le soir, on vous attend pour des party diversifiées tel que la
    soirée Casino, le très célèbre Party^2, le concours de films, etc. La nuit, il y aura des activités tel que
    l’Arcade, le LAN et le Bercethon pour vous faire oublier la fatigue et rester debout jusqu’aux petites heures du
    matin. Le tout, simplement pour recommencer le lendemain!<br>


    En espérant tous vous y voir, <br><br>


    William Larrivée-Hardy <br>
    Fan #1 des gens qui participent au Festival
</p>

</div>
</body>
</html>