<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Régisseur</title>
    <link rel="icon" href="https://cdn.rawgit.com/AlexisJa/regisseur/master/pic/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<style>
    .container{
  width:100%;
    background-color: #dd0000;


}
.jumbotron{
    margin: 0 auto;
    max-width:1200px;
    background-color: #dd0000;
    color: white;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    height: 250px;
    background-image: url("https://cdn.rawgit.com/AlexisJa/regisseur/86b9db9e8f6188eb5a39f7c80a2d07267f026d6e/pic/regie_noir.png");
    background-size: 790px 350px;
    background-repeat: no-repeat;
    background-position: right top;


}
body {
    position: relative;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    background-image: url("https://cdn.rawgit.com/AlexisJa/regisseur/master/pic/circuit2.jpg");
}
.comptTable{
    width:100%;
    border:4;
    /*background-color:pink;*/

}
.comptTable>tr{
    /*width:33%;*/
}
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.affix ~ .container-fluid {
 position: relative;
 top: 50px;
}
.PageDiv{
    max-width: 1200px;
    background-color: #eeeeee;
    min-height: 300px;
}
.PageDiv:nth-child(even){
    background-color: #dddddd;
}
.redBorder{
    border: 10px solid #dd0000;
    transition: 0.5s;

}
.redBorder:hover{
    border: 1px solid #dd0000;
}
.roundImage{
    height:300px;
    border-radius: 50%;
    border: 10px solid #dd0000;
    transition: 0.5s;
}
.roundImage:hover{
    border: 1px solid #dd0000;
}
.face{
    text-align: center;
}
.face>img{
    height:100px;
    border-radius: 50%;
    border: 6px solid #dd0000;
    transition: 0.5s;
}
.face>img:hover{
    border: 1px solid #dd0000;
}
.projet{
    text-align: center;
}
.projet>img{
    height:200px;
    width:200px;
    border-radius: 50%;
    border: 6px solid #dd0000;
    transition: 0.5s;
}
.projet>img:hover{
    border: 1px solid #dd0000;
}
.pageTitle{
    font-weight: 900;
    color: #dd0000;
}
.carousel-inner > .item > img{
    margin: 0 auto;
}
.fall:hover{
    transform:rotate(-110deg)
}
.bouscotte{
    display: block;
    margin: 0 auto;
    border-radius: 200px;
    border: 10px solid #dd0000;
    transition: 32s;
}
.bouscotte:hover{
    transform:rotate(8640deg)
}
</style>
<script>
    var ng_reg = angular.module("regisseur", []);

ng_reg.controller('CarouselCtrl', function($scope){
    $scope.photos = [];
    $scope.clicked = function(){

    };
    $scope.init = function(location, caption_dict, pic_number){
        $scope.photos = [];
        for (var i = 1; i<=pic_number; i++){
            var caption = caption_dict[i];
            $scope.photos.push({src: location + i+'.jpg', caption: caption});
        }
    }
});
</script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50" ng-app="regisseur">


        <div class="container">
            <div class="jumbotron">
                <h1>Régisseur</h1>
                <h4>Le journal étudiant du Regroupement des Étudiants <br> de Génie Informatique et Électrique</h4>
                <h5>Volume 3 - Édition Mi-session hiver 2017</h5>
            </div>
        </div>
        <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="250">
        <ul class="nav navbar-nav"><li><a href="#section0">Intro</a></li><li><a href="#section1">Pause Pub</a></li><li><a href="#section2">Jeux de Génie</a></li><li><a href="#section3">Pause Pub</a></li><li><a href="#section4">Festival</a></li><li><a href="#section5">Pause Pub</a></li><li><a href="#section6">CQI</a></li><li><a href="#section7">Pause Pub</a></li><li><a href="#section8">Guerre des OS</a></li></ul></nav>
<div id="section0" class="container-fluid PageDiv">
        <h2 class="pageTitle">Intro</h2>
        <p>
    Ah, la session d'hiver! Tellement de choses à faire! À travers le Festival, les partys de la Course HivernalE, la
    Poutine Week, les grèves, les Dérives, les offres de stage et d'emplois, très difficile de garder le cap et de
    prendre le temps d'étudier... ou de faire un Régisseur! <br><br>
    Le voici le voilà, enfin, vous ne l'attendiez plus tellement vous aviez autre chose à faire, mais il va s'ajouter à
    votre liste de procrastination. <br><br>
    Plusieurs étudiants GELGIF ont participé à plusieurs activités dans les derniers mois, on va revenir là-dessus pour
    les féliciter, et pour encourager la relève à leur emboîter le pas. <br><br>
    On lâche pas, il reste juste la moitié d'une session à cette année de fous! <br><br>
    PS. Je me suis fait chicaner parce que je n'ai pas mis de publicité des partenaires du RÉGIÉ dans les éditions
    précédentes. <br><br>
</p></div><div id="section1" class="container-fluid PageDiv">
        <h2 class="pageTitle">Pause Pub</h2>
        <div align="center">
<img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/DESJARDINS.png" style="max-width: 1000px">
</div>
<br><br>
<div align="center">
<img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/BNC.png" style="max-width: 1000px">
</div>
<br><br>

<div align="center">
<img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/TREK.png" style="max-width: 1000px;
background-size: 100%">
</div></div><div id="section2" class="container-fluid PageDiv">
        <h2 class="pageTitle">Jeux de Génie</h2>
        <p>
    Que de plézir lors de ces derniers Jeux de Génie! Notre délégation de neuves était inarrêtable! Voici quelques
    photos de nos GELGIF à l'oeuvre!
</p>

<div ng-controller="CarouselCtrl" ng-init="init('https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/jdg/',
['',
'Goup gère',
'',
'Boulisse gère plus!',
'La Machine la plus laide',
'',
'Les plus keunes',
'',
'',
'',
'',
'Le Tchoukball',
'Sport PisCena',
'',
'',
'Première place en GIF!',
'Génie en Herbe',
'Rambo',
'Reconnaissez-vous cet homme?',
'',
'Il est un peu émotif',
'À peine',
'Encore',
'Quel homme.',
'',
'#PéterDesDents',
'',
'Cest quoi les chances que je couche avec la prochaine personne qui se pointe sur ce diaporama?',
'1',
'',

'Guys, salade de fruits',
'',
'',

], 33)">
    <div id="Carousel0" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->

      <ol class="carousel-indicators">
        <li ng-repeat="photo in photos" data-target="#Carousel0" data-slide-to="{{ $index }}" ng-class="$index==0 ? 'active' : ''"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
          <div class="item" ng-repeat="photo in photos" ng-class="$index==0 ? 'active' : ''">
                <img ng-src="{{ photo.src }}" ng-alt="photo.caption">
            <div class="carousel-caption">
                <p>{{ photo.caption }}</p>
            </div>
        </div>
      </div>

      <a class="left carousel-control" href="#Carousel0" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#Carousel0" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
<br>
Impossible de tout décrire ce qui s'est déroulé pendant ces Jeux, mais voici quelques SHOUT OUT:
<li>
    Shout out à la première place à la compétition académique en Génie Informatique!
</li>
<li>
    Shout out à Picard qui ne faisait pas partie de l'équipe de Génie Informatique!
</li>
<li>
    Shout out à Notre Président Francis Quevillon qui essaye de diluer un drink de Tequila-Gatorade avec le Tequila-Gatorade de ses cochambreurs
</li>
<li>
    Shout out à la 2e meilleure shape
    qui a arrêté de servir à quoi que ce soit depuis les Jeux
</li>
<li>
    Shout out à Picard de s'être fait lancer par-dessus-bord de son lit par Miguel le Terrible et qui s'est rendormi tout de suite après
</li>
<li>
    ShoutoutàmaspacebarquiaarrêtédefonctionnerpendantlesJeux
</li>
<li>
    Shout out à Abi et à Charles pour leurs impros funnéééé
</li>
<li>
    Shout out à Rambo de Polytechnique qui nous a enfin battu en finale de Génie en Herbe après 3 essais
</li>
<li>
    Shout out à la 2e shape qui a couru au Tchoukball
</li>
<li>
    Shout out à Boulisse le meilleur goaler de Water Polo
</li>
<li>
    Shout out à la première place en Tchoukball
</li>
<li>
    Shout out à Bouscotte qui a hypnotisé plusieurs madames avec ses pas de danse
</li>
<li>
    Shout out à tous ceux qui sont restés nous aider à faire la Machine, sincèrement merci
</li>
<li>
    Shout out à la machine qui pète des dents
</li>
<li>
    Shout out à Matthieu Sylvain qui devient émotif ;-;
</li>
<p>
    Maintenant, il faut se tourner vers l'avenir! L'exécutif de l'an prochain est sorti et il sera à très grande majorité
    gelgifoise. Continuez de mettre du hype, continuez de recruter autant de courseurs aux initiations, et pour ceux
    qui n'ont pas pu faire les Jeux cette année, faites la course plus fort que jamais l'an prochain! <br>
    Aussi, Francis Quevillon aura la très facile tâche de VP-Machine, je compte sur vous pour l'aider fort et, qui sait,
    reconquir le titre à la maison l'an prochain! <br>
    Lol jk, Honey Badger VII is gonna whip your ass!
</p></div><div id="section3" class="container-fluid PageDiv">
        <h2 class="pageTitle">Pause Pub</h2>
        <div align="center">
<img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/DESJARDINS.png" style="max-width: 1000px">
</div>
<br><br>
<div align="center">
<img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/BNC.png" style="max-width: 1000px">
</div>
<br><br>

<div align="center">
<img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/TREK.png" style="max-width: 1000px;
background-size: 100%">
</div></div><div id="section4" class="container-fluid PageDiv">
        <h2 class="pageTitle">Festival</h2>
        <br>
<p>
    C'était vraiment vraiment vraiment WAURTE. D'autres shout out sont de mise.
</p>
<li>
    Shout out à notre belle statue, qui a maintenant été revalorisée en tant que sanctuaire pour girafes.
</li>
<br>

<div align="center">
    <img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/statue.jpg" style="max-width: 1000px">
</div>
<br>

<li>
    Shout out à la participation féminine!!
</li>
<li>
    Shout out à ceux qui se sont gelé le cul dehors!
</li>
<li>
    Shout out à la table de Casino la plus <strike>lit</strike> waurte.
</li>
<li>
    GROS shout out au vidéo! Vous avez rocké ça et le directeur continue de l'écouter avant de se coucher selon les rumeurs!
</li>
<br>

<div align="center">
    <iframe src="https://drive.google.com/file/d/0B1mS7ZV32CTVRGZjR2xWNjNmcmc/preview" width="800" height="450"></iframe>
</div>
<br>

<li>
    Shout out à l'équipe de Génie en Herbe qui s'est rendue très loin malgré un taux d'autisme quasi-nul!
</li>
<li>
    Shout out à Picard qui a survécu à Miguel et aux Festidiens sans merci!
</li>
<li>
    Shout out à Gabrielle qui a fait du ca$h avec sa 5e place au concours académique
</li>
<li>
    Shout out à Gigawatt pour ne pas avoir fini dernier au concours académique
</li>
<li>
    Shout out à la réforme de l'éducation du Québec qui nous a offert ce genre «d'orthographe alternatif»:
</li>
<br>

<div align="center">
    <img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/ortho.png" style="max-width: 1000px">
</div>
<br>

<li>
    Shout out à tous ceux qui ont participé à l'impro, pour le meilleur et pour le pire
</li>
<li>
    Shout out à la participation générale, des anciens mais aussi des nouveaux! C'est encourageant pour les prochaines années!
</li>
<li>
    Shout out au Podium. C'est vraiment gros. Je suis immensément fier de vous!
</li>
<li>
    Shout out à Emile qui a vraiment bien géré le tout et qui a été un VP-Festival hors pair!
</li></div><div id="section5" class="container-fluid PageDiv">
        <h2 class="pageTitle">Pause Pub</h2>
        <div align="center">
<img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/DESJARDINS.png" style="max-width: 1000px">
</div>
<br><br>
<div align="center">
<img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/BNC.png" style="max-width: 1000px">
</div>
<br><br>

<div align="center">
<img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/TREK.png" style="max-width: 1000px;
background-size: 100%">
</div></div><div id="section6" class="container-fluid PageDiv">
        <h2 class="pageTitle">CQI</h2>
        <div align="center">
<img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/cqi.jpg" style="max-width: 1000px">
</div>
<br>

<p>
    Pour ceuses qui ne savent pas c'est quoi la CQI, c'est la Compétition Québécoise d'Ingénierie. Chaque université
    québécoise (sauf l'UQAM mais c'est vraiment pas grave) envoie ceux qui ont gagné leur compétition locale (ou, comme
    ça arrive malheureusement trop souvent à Laval, la seule équipe qui s'est inscrite). Les catégories sont les suivantes:
    <li>
        Communication scientifique
    </li>
    <li>
        Conception Junior
    </li>
    <li>
        Conception Senior
    </li>
    <li>
        Débats oratoires
    </li>
    <li>
        Design Innovateur
    </li>
    <li>
        Génie-conseil
    </li>
    <li>
        Projet de cycle supérieur
    </li>
    <li>
        Réingénierie
    </li>
    Les équipes qui finissent en première ou seconde place ont la chance de représenter le Québec à la Compétition Canadienne d'Ingénierie.
    L'Université Laval y enverra 4 équipes: Réingénierie grâce à leur 2e place, ainsi que Communication Scientifique,
    Design Innovateur et Génie-Conseil pour leurs victoires. Il y aura 2 GELGIF qui iront donc à Calgary pendant la relâche
    pour représenter le Québec: celui qui essuie son dégât de bière avec des dépliants de Bombardier dans la face de leurs représentants,
    et celui qui s'est assis en kilt trop court à la table des juges/qui joue à flip Vodka avec les représentantes d'Hydro-Québec.
    Vraiment très à point pour représenter le Québec devant le reste du pays!
    <li>
        Shout out à l'équipe de conception junior (tous des GELGIF) qui ont fait un robot dont les seuls défis étaient mécaniques
    </li>
    <li>
        Shout out à l'équipe de conception senior (tous des GELGIF) qui ont fait le robot le moins cher, et ce, par plusieurs milliers de dollars.
    </li>
    La CQI, ce n'est pas juste une compétition, c'est aussi des rencontres. Nous avions la chance d'avoir dans le même
    hôtel un congrès de la FTQ, avec nul autre que Bernard Gauthier alias Rambo. Ce politicien très près des jeunes nous
    a ouvert les yeux sur une réalité qui nous touche tous en GELGIF: les compteurs intelligents. Il est de mon devoir
    de vous conscientiser à mon tour. <br>
    <br>
    <br>

<div align="center">
    <img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/gouv.jpg" style="max-width: 1000px">
</div>
    <br>
    <br>

    En effet, Rambo dit qu'il paye 15$ par mois de pénalité puisqu'il a refusé de se faire installer un compteur
    intelligent. Pas pour les dangereuses ondes qui donnent le cancer, par pour la protection de ses données personnelles, non!
    Il fait ça pour nous! Parce que si on automatise tout, on va perdre toutes nos jobs! Il déblaie même devant son compteur
    pour que les employés d'Hydro-Québec puissent venir voir ses données de consommation! <br>
    Évidemment, ce discours devant plusieurs étudiants en génie a été accueilli à bras ouverts! Dites non à la modernité!
    De toute façon, il fait 105 000$ par année avec son secondaire 5! Ses employés, 160 000$! Il y a clairement quelque chose
    qu'il a compris que nous n'avons pas compris.
</p>

</div><div id="section7" class="container-fluid PageDiv">
        <h2 class="pageTitle">Pause Pub</h2>
        <div align="center">
<img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/DESJARDINS.png" style="max-width: 1000px">
</div>
<br><br>
<div align="center">
<img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/BNC.png" style="max-width: 1000px">
</div>
<br><br>

<div align="center">
<img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/TREK.png" style="max-width: 1000px;
background-size: 100%">
</div></div><div id="section8" class="container-fluid PageDiv">
        <h2 class="pageTitle">Guerre des OS</h2>
        <p>
    Ça y est, c'est le moment que vous attendiez tous: La guerre des Systèmes d'Exploitation. Après cette chronique, il
    n'y aura plus d'équivoque: Vous saurez quel OS est le meilleur. <br><br>
    Premièrement, Windows perd par forfait. Au moment d'écrire ces lignes, il est 11h20 PM et Windows me dit de 4/20
    Blaze It car il croit que je suis à Londres. Ça fait 2 ordis qui me font ça. Nuff' said. <br><br>
    Non, nous allons plutôt comparer 2 OS sérieux qui sont des standards de l'industrie: MAC OS X, et Hannah Montana Linux.
</p>
<div align="center">

    <table class="comptTable">
        <tr>
            <th>
                Catégorie
            </th>
            <th>
                MAC OS X [OSX]
            </th>
            <th>
                HANNAH MONTANA Linux [HML]
            </th>
            <th>
                Gagnant
            </th>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/crap.png" style="max-width: 80%">
            </td>
            <td>
                <img src="https://cdn.rawgit.com/AlexisJa/regisseur/master/r3/pics/hannah.jpg" style="max-width: 80%">
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <th>
                Coût
            </th>
            <td>
                Gratuit
            </td>
            <td>
                Gratuit
            </td>
            <td>
                --
            </td>
        </tr>
        <tr>
            <th>
                Compatibilité
            </th>
            <td>
                Ordinateurs Macintosh seulement
            </td>
            <td>
                N'importe quel ordi avec architecture x86_64
            </td>
            <td>
                HML
            </td>
        </tr>
        <tr>
            <th>
                License
            </th>
            <td>
                Propriétaire
            </td>
            <td>
                Open Source, code intégral disponible sur SourceForge
            </td>
            <td>
                HML
            </td>
        </tr>
        <tr>
            <th>
                Fond d'écran par défaut
            </th>
            <td>
                Des montagnes quelconques
            </td>
            <td>
                Photo d'Hannah Montana en pleine action
            </td>
            <td>
                HML
            </td>
        </tr>
        <tr>
            <th>
                Existence de logiciel valveillant
            </th>
            <td>
                Oui
            </td>
            <td>
                Non
            </td>
            <td>
                HML
            </td>
        </tr>
        <tr>
            <th>
                Utilisé par Donald Trump
            </th>
            <td>
                Oui
            </td>
            <td>
                Non
            </td>
            <td>
                HML
            </td>
        </tr>



    </table>
</div>
<br>
<br>
Le meilleur OS est donc clairement HANNAH MONTANA Linux. <br>
Voilà. C'est réglé. On arrête d'en parler.

<br>
<br>
<br>
<br>
</div>
</body>
</html>