.container{
  width:100%;
    background-color: #dd0000;


}
.jumbotron{
    margin: 0 auto;
    max-width:1200px;
    background-color: #dd0000;
    color: white;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    height: 250px;
    background-image: url("https://cdn.rawgit.com/AlexisJa/regisseur/86b9db9e8f6188eb5a39f7c80a2d07267f026d6e/pic/regie_noir.png");
    background-size: 790px 350px;
    background-repeat: no-repeat;
    background-position: right top;


}
body {
  position: relative;
    /*font-family: ;*/
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;

}
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.affix ~ .container-fluid {
 position: relative;
 top: 50px;
}
.PageDiv{
    max-width: 1200px;
    background-color: #eeeeee;
    min-height: 500px;
}
.PageDiv:nth-child(even){
    background-color: #dddddd;
}
.roundImage{
    height:300px;
    border-radius: 150px;
    border: 10px solid #dd0000;
    transition: 0.5s;
}
.roundImage:hover{
    border: 1px solid #dd0000;
}
.face{
    text-align: center;
}
.face>img{
    height:100px;
    border-radius: 50px;
    border: 6px solid #dd0000;
    transition: 0.5s;
}
.face>img:hover{
    border: 1px solid #dd0000;
}
.projet{
    text-align: center;
}
.projet>img{
    height:200px;
    width:200px;
    border-radius: 100px;
    border: 6px solid #dd0000;
    transition: 0.5s;
}
.projet>img:hover{
    border: 1px solid #dd0000;
}
.pageTitle{
    font-weight: 900;
    color: #dd0000;
}
.carousel-inner > .item > img{
    margin: 0 auto;
}
.bouscotte{
    display: block;
    margin: 0 auto;
    border-radius: 200px;
    border: 10px solid #dd0000;
    transition: 4s;
}
.bouscotte:hover{
    transform:rotate(1080deg)
}