.container{
  width:100%;
    background-color: #dd0000;

}
.jumbotron{
    margin: 0 auto;
    max-width:1200px;
    background-color: #dd0000;
    color: white;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    height: 250px;
}
body {
  position: relative;
}
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.affix ~ .container-fluid {
 position: relative;
 top: 50px;
}
.PageDiv{
    max-width: 1200px;
    background-color: #eeeeee;
    min-height: 500px;
}
.PageDiv:nth-child(even){
    background-color: #dddddd;
}
